body {
    background-color: #90C8EC;
  }

.results {
  text-align: left;
  text-transform: uppercase;
  /* position: absolute;
  padding-top: 10; */
}

  h3 {
    font-family: "Questrial";
    font-weight: 700; 
    font-size: 30px;
    color: white;
    
  }

  img.img1 {
    position: absolute;
    left: 50px;
    top: 300px;
  }

  img.img2 {
    position: absolute;
    left: 800px;
    top: 175px;
    overflow: hidden;
    width: 39%;
    height: 75%;
  }

  .checkboxes {
    position: absolute;
    top: 50px;
    border: 3px solid white;
    border-radius: 5px;
    line-height: 1em;
    padding: 0 1em;
    margin-top: 1em;
  }

  h4 {
    font-family: "Questrial";
    font-weight: 400;
    font-size: 20px; 
    color: white;
    text-align: left;
    
  }

  .column {
    float: left;
    width: 100%;
    /* padding-top: -10px; */
    
    height: 300px; 
    
  }

  button {
    font-family: "Questrial";
    font-weight: 400; 
    color:  #90C8EC;
    font-size: 20px;
    background-color: white;
    
  }

  .submit {
    position: absolute;
    
    top: 420px;

  }

  label {
    position: relative;
    color: white;
    font-family: "Questrial";
    font-weight: 400; 
    font-size: 20px;
    /* position: absolute; */

  }


