body {
  background-color: #90C8EC;
}

  h4 {
    font-family: "Questrial";
    font-weight: 400; 
    color: white;
    font-size: 30px;
  }

  button {
    font-family: "Questrial";
    font-weight: 400; 
    color: #90C8EC;
    font-size: 20px;
    background-color: white;
    position: relative;
    border: 3px solid #3D627A;
    /* top: 200px; */
}

  text {
    color: white;
  }

  input {
    /* position: relative; */
    border: 2px solid #3D627A;
    
  }

  img.img1 {
    position: absolute;
    left: 300px;
    top: -105px;
    overflow: hidden;
    color: rgba(162,182,195,0.82);
    /* color: #A2B6C3; */
    /* transform: scaleX(-1); */
    width: 60%;
    height: auto;
  }