

  .splash-container {
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

img.img1 {
    position: absolute;
    left: 200px;
    top: 235px;
    overflow: hidden;
    width: 15%;
    height: 30%;
}

img.img2 {
    position: absolute;
    left: 1050px;
    top: 234px;
    overflow: hidden;
    width: 15%;
    height: 30%;
}

.title {
    font-family: "Questrial";
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 20px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    
}

.title-head {
    font-size: 80px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 0.2em 0.5em; /* padding is for box width and height */
    width: 40%;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    font-family: "Questrial"; 
    position: absolute;
    left: 300px; /* take these out if keeping original box */
    top: 70px;
}


.title-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
    font-family: "Questrial";
    font-weight: 700;
    font-size: 20px;
    position: absolute;
    left: 100px; /* take these out if keeping original box */
    top: 300px;
    /* text-decoration: underline;
    text-decoration-thickness: 0.1em;
    text-decoration-thickness: 3px; */
    /* text-align: center; */
}

.button-start {
  background: white;
  z-index: 1;
  overflow: hidden;
  position: center;
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 30xpx;
  padding: 15px 0;
  font-family: "Questrial";
  font-weight: 700;
  color: #90C8EC;
  border-radius: 25px;
  position: absolute; /* take these out if keeping original box */
  left: 500px;
  top: 350px;
  text-decoration: none;
  font-size: 18px;
}

#videoBG {
    position:fixed;
    z-index: -1;
    right: 0; 
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    width: auto; 
    height: auto;

}

