

body {
    background-color:  #8FB88D;
  }

  .splash-container {
    background: #8FB88D;
    z-index: 1;
    overflow: hidden;
    width: 100%;
    height: 88%;
    top: 0;
    left: 0;
    position: fixed !important;
}

img {
    border-radius: 50%;
}

.title {
    width: 80%;
    height: 50%;
    margin: auto;
    position: absolute;
    top: 100px; left: 0; bottom: 0; right: 0;
    text-align: center;
    text-transform: uppercase;
    
}

.title-head {
    font-size: 50px;
    font-weight: bold;
    color: white;
    border: 3px solid white;
    padding: 1em 1.6em;
    font-weight: 100;
    border-radius: 5px;
    line-height: 1em;
    font-family: "Helvetica neue";
    font-weight: 400; 
}


.title-subhead {
    color: white;
    letter-spacing: 0.05em;
    opacity: 0.8;
}

.button-start {
  background: white;
  z-index: 1;
  overflow: hidden;
  position: center;
  display: inline-block;
  text-align: center;
  width: 150px;
  height: 30xpx;
  padding: 15px 0;
  font-family: "Helvetica neue";
  font-weight: 700;
  color: #8FB88D;
  border-radius: 25px;
}